{% extends 'snippets/baseAuth.html' %}
{% load static %}

{% block contents %}
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-4 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img src="{% static 'img/logo.png' %}"
                    style="width: 185px;" alt="logo">
                  <h3 class="mt-1 mb-5 pb-1 fw-bold">SmartPlant</h3>
                </div>
                <form method="POST">
                  {% csrf_token %}
                  <h5 class='text-center fw-bold'>LOGIN</h5>

                  <div class='pe-4 ps-4 pe-lg-0 ps-lg-0'>
                    {% for form in login_form %}
                      <div class="mb-4">
                        {{form.label}}
                        {{form}}
                      </div>
                    {% endfor %}
                    <p class='lh-1 text-danger'>{{error_login}}</p>
                  </div>
                  <div class='row mt-5'>
                    <div class='col-6 text-end'>
                      <a class="btn btn-gray-dark btn-block col-9 fa-lg mb-3 rounded-7" href={% url 'utama' %}>
                        <i class="bi bi-arrow-left-circle pe-1"></i>
                        Kembali
                      </a>
                    </div>
                    <div class='col-6 text-start'>
                      <button class="btn btn-secondary btn-block col-9 fa-lg gradient-custom mb-3 rounded-7" type="submit" name='login' value='login'>
                        <i class="bi bi-person-circle pe1"></i>
                        Login
                      </button>
                    </div>
                  </div>

                  <div class="d-flex align-items-center justify-content-center mt-5">
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <a href={% url 'akun:register' %} class="btn btn-outline-brown rounded-7">Create new</a>
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 rounded-4 d-flex align-items-center gradient-custom">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a company</h4>
                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock contents %}


